<h1><center>  Lab 1 : Introduction to Python </center>
<img src="https://files.realpython.com/media/Newbie_Watermarked.a9319218252a.jpg" width="400">

> `Created by: Jinnie Shin (jinnie.shin@ualberta.ca)`\
> `Date: 18 May 2023 (Summer A 2023)`
---

## 1. Basic Data Type in Python <a class="anchor" id="data"></a>

|  Object Type |              Example              |           Shortcut         |
|:------------|:---------------------------------|:------------------:|
| Numbers      | 123, 3.14, 3+4j, 1000             | ```int(a)``` or ```float(a)``` |
| String       | "student", "class", "fun"         | ```string(a)``` or ```" "```   |
| Lists        | [1,2,3], ["student", "fun"]       | ```list(a)``` or ```[a]```     |
| Dictionaries | {'Jane':'high', 'Matt':'average'} | ```dict(a)``` or ```{a:b}```   |
| Tuples       | ('Jane', 'high'), (1, 2)          | ```tuple(a)``` or ```(a,b)```  |
| Sets         | set('abc') {a, b, c}              | ```set(abc)``` or ```{a,b,c}```         |
| Booleans     | True or False                     | ```a==b``` or``` a!=b```       |

In [ ]:
# integers
print(type(10))
# float 
print(type(1.82))
# string
print(type('Hello everyone'))
# boolean
print(type(2==1))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
# before we run the code, let's guess what will happen

# int(2.2) = ?
# float(2.2) = ?
# str(2.2) = ?
# bool(2.2) = ?


---
### 1.1. List <a class="anchor" id="list"></a>

> A ```[list]``` can be create in multiple ways by placing elements inside a square bracket ```[list]```

In [ ]:
list1 = [] # empty list
list2 = [1,2,3,4] # integer elements 
list3 = ['hello', 'my', 'name', 'is', 'jinnie'] #string elements
list4 = list(range(1,4)) # list using a range 1~3

> Lists can be nested within each other as a nested list ```[[nested_list],[list]]```

In [ ]:
nested_list =[list1, list2, list3]
nested_list

[[], [1, 2, 3, 4], ['hello', 'my', 'name', 'is', 'jinnie']]

> Dimension of the list can be identified by chekcing the length of the list ```len(list(a))```

In [ ]:
len(nested_list)

3

> List elements can be accessed by indexing ```list[index]```

In [ ]:
list2[0] # element indices start from 0 
nested_list[0]

[]

In [ ]:
list3[-1] #final element can be accessed by negative indexing 
list3[0:2] # a range could be provided to call multiple elements
list3[:-2] # except the last two elements
list3[4:] # starting from the 4th element
list3[:] # all the elements

['hello', 'my', 'name', 'is', 'jinnie']

> We can add, remove, or replace the elements using ```list.extend()```, ```list.append()```, ```list.remove()```, ```list.clear()```

In [ ]:
list3[0] = 'Bye' # change the first element of list3 to 'Bye'
print('revised list is ' + str(list3))

revised list is ['Bye', 'my', 'name', 'is', 'jinnie']

In [ ]:
new_list = [5,6,7,8,9]
complete_list1 = list2.extend(new_list) # extend the original list with a new list 
print(complete_list1)

None

In [ ]:
complete_list2 = list2.append(10) # append a new element
print(complete_list2)

None

In [ ]:
new_list.remove(5) # remove an element from the list 
print(new_list)

[6, 7, 8, 9]

In [ ]:
new_list.clear() # clear the list 
print(new_list)

[]

### 1.2. Matrix <a class="anchor" id="matrix"></a>

> Python does not have a built-in type for matrices. Instead, we can treat list of a list as a matrix ```[[list], [list]]```

In [ ]:
matrix = [[1,2,3,4],
          [5,6,7,8]]
matrix

In [ ]:
# pip install numpy 
# conda install numpy
import numpy as np # import numpy functions as np

> We will import ```numpy``` to do simple matrix calculations

In [ ]:
A = np.array([[1,2,3,4], [5,6,7,8]]) #np.array to create a matrix
print(A)
B = np.array([[0,1],[2,3],[4,5],[7,8]])
PRINT(B)
A.shape # check dimensions

In [ ]:
Z = np.zeros([2,3])
R = np.random.rand(2,3)
I = np.random.randint(2, size=(2, 3))
R

>   We can use ```np.maxtrix()``` to create a matrix

In [ ]:
aa = np.matrix('1 2 3 ; 4 5 6')
aa

matrix([[1, 2, 3],
        [4, 5, 6]])

> We can access elements just like we did with a list using ```matrix[index][index]```

In [ ]:
print(D)
print(D[0]) # first row 
print(D[0][0]) #first row, first element (0,0)

> We can compute a matrix transpose using ```matrix.transpose()```

In [ ]:
D = A.transpose()
D

> We can create a dot product using ```matrix.dot()```

In [ ]:
C = A.dot(B)
C

> We can compute the Euclidean distance between the two vectors (or lists) using ```np.linalg.norm```

In [ ]:
E = np.array([[-7,-3,-2,1],[1,3,6,9]])
dist = np.linalg.norm(A-E)
dist

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">

> ### Task 1 - Create multiple matrices from a list
> - *Q1*: Create a 4 by 4 matrix from the list and call it M1 - HINT (```.reshape```)
> - *Q2*: Get the (1) tanspose (```matrix.transpose()```) and (2) inverse of the matrix M1
> - *Q3*: Get the dot product of (1) M1 and its transpose and (2) M1 and its inverse

In [ ]:
lst = np.random.rand(16)
lst
############################# Your code Here ############################################

# Q1: Create a 4 by 4 matrix from the list and call it M1 - HINT (.reshape)
M1 = np.matrix(lst)

##########################################################################################

In [ ]:
############################# Your code Here ############################################
# Q2: Get the (1) tanspose and (2) inverse of the matrix M1


##########################################################################################

In [ ]:
############################### Your code Here ###########################################
# Q3: Get the dot product of (1) M1 and its transpose and (2) M1 and its inverse


##########################################################################################

### 1.3. Dictionary <a class="anchor" id="dict"></a>
> Python dictionaries ```{ }``` store keys: values to easily access values that are mapped together ```dict[key] = value```

In [ ]:
Dict = {}

In [ ]:
Dict['Connie'] = '1990-06-18' # add elements using [keys] = values 
Dict['Cora'] = '1994-07-17'
Dict['Hunter'] = '1998-01-01'
Dict['James'] = '1970-08-15'
Dict['Sophie'] = '2001-02-14'

> You can define all the keys/values when creating a dictionary as well ```{key:value}```

In [ ]:
new_dict = {'Cora': '1994-07-17',
            'Hunter': '1998-01-01',
            'James': '1970-08-15',
            'Sophie': '2001-02-14',
            'Connie': '1990-06-18'}

new_dict == Dict

> You can easily accessing information with the dictionary keys

In [ ]:
Dict['Connie']

> You can extract the keys and values using ``` {dict}.keys()``` and ```{dict}.values()```

In [ ]:
Dict.keys()
Dict.values()

In [ ]:
names = list(Dict.keys())
bdays = list(Dict.values())
names

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


> ### Task 2 - Create a new dictionary 
> - *Q1*: Create a new dictionary that stores birthdays as keys and names as vlalues and call it ```re_dict```
> - *Q2*: Remove month-date from the keys and call it ```new_dict```

In [ ]:
################################ Your code Here #########################################
# Hint zip()



# expected outcome:
#{'Connie': '1990-06-18',
# 'Cora': '1994-07-17',
# 'Hunter': '1998-01-01',
# 'James': '1970-08-15',
# 'Sophie': '2001-02-14'}
##########################################################################################

In [ ]:
################################## Your code Here #######################################
#Hint  str.split('')




# expected outcome
#{'1970': 'James',
# '1993': 'Jinnie',
# '1994': 'Cora',
# '1998': 'Hunter',
# '2001': 'Sophie'}
#########################################################################################

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


> ### Task 3 - Apply a function to the dictionary 
> - *Q1*: what is the average quiz scores of jinnie, erin, and mark, respectively?
> - *Q2*: In which quiz, did jinnie, eric and mark achieve the highest score, respectively?

In [ ]:
result = {'jinnie': {'quiz': [90.0,97.0,75.0,92.0]},
          'erin':{'quiz' : [ 100.0, 92.0, 93.0, 67.0]},
          'mark':{'quiz': [100.0, 91.0, 89.0, 97.0]}
}


# what is the average quiz scores of jinnie, erin, and mark, respectively?

####################### Your code here #####################

result['jinnie'] # we know that this function will take an input eg. {'quiz': [90.0, 97.0, 75.0, 92.0]}
result['jinnie']['quiz'] # now we have a list that only saves the quiz score 

def mean_score(input_dic): 
    temp = input_dic['quiz'] #this will output a list = [] 
    import numpy as np 
    
    return np.average(temp)


###########################################################
score = mean_score(result['mark'])
print(score)

94.25

In [ ]:
# In which quiz, did jinnie, erin and mark achieve the highest score, respectively?

####################### Your code here ######################

def where_highest(input_dic):
    temp = input_dic['quiz'] #this will output a list = [] 
    import numpy as np 
    
    return print('Highest score in quiz ', np.argmax(temp)+1)

############################################################

where_highest(result['jinnie'])

Highest score in quiz  2

### 1.4. String <a class="anchor" id="string"></a>
> There are number of built-in string objects to implememnt higher-level operations with strings (e.g., parsing, joinining) 

|      Method  Type      |                                                                    Description                                                                    |
|:----------------------|:-------------------------------------------------------------------------------------------------------------------------------------------------|
| ```S.capitalize()```         | returns a string with the first character in the capital                                                                                          |
| ```S.upper()```  ```S.lower()``` | ```.upper()``` method on a string converts all of the characters to uppercase,  whereas the ```.lower()``` method converts all of the characters to lowercase |
| ```S.casefold()```           | removes all case distinctions present in a string                                                                                                 |
| ```S.encode()```             | returns encoded version of the given string                                                                                                       |
| ```S.find()```               | returns the index of first occurrence of the substring (if found). If not found, it returns -1.                                                   |
| ```S.index()```              | returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.                             |
| ```S.isalpha() ```           | returns True if all characters in the string are alphabets. If not, it returns False.                                                             |
| ```S.isdigit()```            | returns True if all characters in a string are digits. If not, it returns False.                                                                  |
| ```S.replace() ```           | returns a copy of the string in which the occurrences of old have been replaced with new value                                                    |
|``` S.split() ```             | split a string into a list where each word is a list item.returns a copy of the string by removing the trailing characters specified as argument  |
| ```S.rstrip()```             | returns a copy of the string by removing the trailing characters specified as argument                                                            |

In [ ]:
## Let's explore!
S = "WE CAN TRY ALL OF THIS FUNCTIONS!"

S.lower().capitalize()

'We can try all of this functions!'

> Individual elements in string can be accessed as in lists.

In [ ]:
string ='here is another example. more than 100 examples will be provided in this class.'
string[0] # can you guess the output?
string[-1] # can you guess the output?

'.'

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 4 - String Methods
> - *Q1*: Replace the word "examples" to "pratice questions" in the given string.  (S.replace())
> - *Q2*: Capitalize the first letters in each sentence. (S.capitalize())
> - *Q3*: Identify the index of the first time the alphabet 'i' appears in the given string. (S.find())

In [ ]:
####################### Your code here ######################
# Q1. replace the word "examples" to "pratice questions" in the given string using S.replace()
string = string.replace('examples', 'practice questions')
string.replace('100', '10')
############################################################

'here is another example. more than 10 practice questions will be provided in this class.'

In [ ]:
####################### Your code here ######################
# Q2. Identify the total number of unique alphbets in the given string. (S.isaplha())
new_string = string.split('. ')
new_string

first_sentence = new_string[0]
second_sentence= new_string[-1] # or you can do [1]

first_sentence_letters = set(first_sentence)
first_sentence_letters

second_sentence_letters = set(second_sentence)
second_sentence_letters
############################################################

{' ',
 '.',
 '0',
 '1',
 'a',
 'b',
 'c',
 'd',
 'e',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w'}

In [ ]:
####################### Your code here ######################
# Q3. Identify the index of the first time the alphabet 'i' appears in the given string. (S.find())
string.find('i')
string[5] # this is actually the 6th element 
############################################################

'i'

## 2. Basic Python Statement <a class="anchor" id="statement"></a>

> There are *three* types of loops and statements in Python, For loops, While loops, and if-else statements. 
>>```For loops```: Iterates over a sequence of elements in a list or a range.\
>>```While loops```: Repeat as long as a certain boolean condition satisfies.\
>>```If-else statement```: conditional statements that provide you with the decision making that is required when you want to execute code based on a particular condition.

### 2.1. For Loops <a class="anchor" id="for"></a>
    > for i in list: 
        {action}

In [ ]:
list2 =[ 1,2,3,4] # we will work with this list

for prime in list2:
  print(prime)

1
2
3
4

In [ ]:
for prime in range(1,5): # range(1,5) = [1,5) 1, 2, 3, 4 
  if (prime % 2) == 0: # % modulus # if this is true  # this is why the definition concerned "boolean"
    print(prime)
  else:
    print('odd number')

odd number
2
odd number
4

> We can also write a for loop in one line ```[print(i) for i in list]```

In [ ]:
for prime in list2:
    print(prime)
    
[print(prime) for prime in list2]

1
2
3
4
1
2
3
4

[None, None, None, None]

### 2.2. While Loops <a class="anchor" id="while"></a>
    > while i == {Condition}: 
        {action}

In [ ]:
# print 0,1,2,3,4
count = 0
while count < 10: 
  print(count)
  count += 1 # this equals to count = count + 1

0
1
2
3
4
5
6
7
8
9

> You can also ```break``` or ```continue``` the while loop

In [ ]:
count = 0
while True:
  print(count)
  count +=1
  if count >= 5:
    break 

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4
1
3
5
7
9

> A simple element-wise operation with ```zip()``` or ```for-loop```

In [ ]:
odd_list = [1, 3, 5, 7, 9]
even_list = [2, 4, 6, 8, 10]

In [ ]:
add = odd_list + even_list # ? 
print('element-wise addition: ' + str(add))

element-wise addition: [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
add = [odd-even for odd, even in zip(odd_list, even_list)]
print('element-wise addition using zip(): ' + str(add))

element-wise addition using zip(): [-1, -1, -1, -1, -1]

In [ ]:
add = [odd_list[i]*even_list[i] for i in range(len(odd_list))]
print('element-wise addition using a loop: ' + str(add))

### 2.3. If/elif/else statement <a class="anchor" id="if"></a>
    > if {Condition1}:
        {action}
      elif {Condition2}:
        {action}
      else:
        {action}

In [ ]:
for i in odd_list: 
    if i <2:
        print('value too small')
    elif i==3:
        print('value appropriate')
    else:
        print(i)

value too small
value appropriate
5
7
9

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 5 - Simple Calculation using for loops 
> - *Q1*: Conduct a element-wise subtraction ```even_list``` - ```odd_list```
> - *Q2*: Translate character of alphabet into a simple number decipher! (HINT: ```chr()``` returns character from the number e.g. ```chr(65) ='A'```) 
> - *Q3*: defining a function called ```def encode``` that encodes a string into a list of number or digits

In [ ]:
######################## Your Code Here ###########################
#Q1 ANSWER 

even_list = [2,4,6,8,10]
odd_list = [1,3,5,7,9]

sub = [even - odd for (even, odd) in zip(even_list, odd_list)] 
print(sub)




###################################################################

[1, 1, 1, 1, 1]

In [ ]:
encoded = [73, 32, 107, 110, 111, 119, 32, 105, 116, 32, 105, 115, 32, 
           104, 97, 114, 100, 32, 116, 111, 32, 99, 111, 109, 101, 32,
           104, 101, 114, 101, 32, 101, 118, 101, 114, 121, 32, 
           115, 97, 116, 117, 114, 100, 97, 121, 46]

def decode(encoded): # defining a function called "decode"
    final = [] 
    ####### your code here ###############
    #Q2 ANSWER 
    for number in encoded:
        temp = chr
    
    
    #######################################
    return final 

output = decode(encoded)
print(' '.join(output))

' '

In [ ]:
sentence = 'Are you planning to travel this summer?'

def encode(sentence): # defining a function called "encode"
    final = [] 
    ####### your code here ###############
    #Q3 ANSWER 
    for chr in sentence:
    

    
    
    #######################################
    return final 

output = encode(sentence)
output

# Important Package - Pandas

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Emily', 'Ryan', 'Linda', 'Michael'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'Chicago', 'San Francisco', 'Los Angeles', 'Boston']
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)
print()

In [ ]:
# Accessing data
print("Accessing data:")
print("Name column:")
print(df['Name'])
print()

print("First row:")
print(df.loc[0])
print()

In [ ]:
# Filtering data
print("Filtering data:")
filtered_df = df[df['Age'] > 30]
print("People above 30 years old:")
print(filtered_df)
print()

# Adding a new column
df['Salary'] = [50000, 60000, 70000, 55000, 65000]
print("DataFrame with a new column:")
print(df)
print()

In [ ]:
# Aggregating data
print("Aggregating data:")
average_age = df['Age'].mean()
print("Average age:", average_age)
print()

# Sorting data
print("Sorting data:")
sorted_df = df.sort_values(by='Age', ascending=False)
print("Sorted DataFrame:")
print(sorted_df)
print()

# Writing to CSV file
csv_file = 'data.csv'
df.to_csv(csv_file, index=False)
print("DataFrame saved to", csv_file)

## 3.1. Other key funtions in pandas

In [3]:
import ipywidgets as widgets 
from ipywidgets import interact, interact_manual
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Importing and Existing Dataset
> Collaborative problem solving (CPS) Data (Polyak et al., 2017).\
> *“a sample of middle school children who interacted with a game-like, online simulation of collaborative problem-solving tasks.”*

---
#### Collaborative Problem Solving Variables

| Variable            | 
|-----------------------------|
| Feture Identification (FI)                 | 
| Maintaining a Shared Understanding (MU)                     | 
| Engagement/Interaction (EN)           | 
| Strategy (S) | 
| Evaluate (EV)             |

In [7]:
data_path = "https://raw.githubusercontent.com/jinnieshinufl/EDF-6938-Computational-Psychometrics/main/week3_data/cps.csv"
data = pd.read_csv(data_path, header=None) #designate the path to the dataset 

data.columns = ['FI', 'MU', 'EN', 'S', 'EV']
data.describe()

               FI          MU          EN           S          EV
count  159.000000  159.000000  159.000000  159.000000  159.000000
mean    25.320755   17.276730   32.635220    3.207547    3.000000
std     18.491298   10.524782   21.486358    2.128991    3.603795
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      6.000000    9.000000   14.500000    2.000000    0.000000
50%     28.000000   17.000000   31.000000    3.000000    2.000000
75%     42.000000   24.000000   50.000000    5.000000    4.500000
max     60.000000   43.000000   79.000000    9.000000   15.000000

In [ ]:
data.columns # we just used pd.read_excel() in order to upload your dataset

In [ ]:
data.index # index number

> Dimension of the dataframe can be simply checked using ```len()``` or ```.shape()```

In [ ]:
data.shape # without the .()

### Subselecting or Slicing a dataframe <a class="anchor" id="matrix"></a>

> Subselecting and extracting rows based on row numbers ```data.iloc[index]```

In [9]:
start_row = 0
finish_row = 10
data.iloc[start_row:finish_row] # Extract row 0 to row 10

   FI  MU  EN  S  EV
0  47  10  26  3   7
1  39  21  31  4   9
2  43  31  77  4   3
3  55  41  67  2   0
4   2   0   0  0   0
5  48  32  63  4  11
6  28  14  30  5   0
7  44  35  60  7   4
8  38  17  35  2   0
9  47  43  73  6   2

> subselecting a row using index (i.e. ID) ```data.loc[index]```

In [ ]:
row_index = 7
df.loc[row_index] # Extract row with the ID 9

### Applying a ```function``` directly to the dataframe
> We will create a function using the numpy package that will manipulate the values in a dataframe column.
    
    > dataframe[column].apply(function)
    > dataframe[column].apply(lambda x: function(x))

> First we will create a ```function``` called ```even_score```

In [10]:
def even_score(integer): 
  if (integer % 2) == 0:
    return 'Yes'
  else:
    return 'No' #what does this function do? 

even_score(42)

'Yes'

In [ ]:
#Let's apply this function to the column `FI`

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 1: Define a function and apply it to a dataframe
> Q1: Let's define another function (`last_digit`) that outputs the last digit of the of the students' engagment score (`EN`) \

In [ ]:
################### Your Code Here ############################
#Q1 - Part 1 ANSWER 
def last_digit(input):
    
    
    return 
###############################################################

# Apply your function to the right column 

################### Your Code Here ############################
#Q1 - Part 2 ANSWER 


###############################################################

*Preliminary* Descriptive Analysis with `Pandas`

> Basic descriptive statistics using `data.max()`, `data.min()`, `data.mean()`, `data.mode()`

> Correlation Analysis using `data.corr()`

In [13]:
print(data.max())

FI    60
MU    43
EN    79
S      9
EV    15
dtype: int64

In [14]:
print(data.min())

FI    0
MU    0
EN    0
S     0
EV    0
dtype: int64

> `data.describe()` for a short-cut

In [20]:
data.describe()

               FI          MU          EN           S          EV
count  159.000000  159.000000  159.000000  159.000000  159.000000
mean    25.320755   17.276730   32.635220    3.207547    3.000000
std     18.491298   10.524782   21.486358    2.128991    3.603795
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      6.000000    9.000000   14.500000    2.000000    0.000000
50%     28.000000   17.000000   31.000000    3.000000    2.000000
75%     42.000000   24.000000   50.000000    5.000000    4.500000
max     60.000000   43.000000   79.000000    9.000000   15.000000

In [16]:
# What if I want to evaluate the maximum and minimum scores of the student across the different categories?
print(data.max(axis=1))

# What if I want to evaluate the maximum and minimum scores of the student across the different categories?
print(data.min(axis=1))

0      47
1      39
2      77
3      67
4       2
       ..
154    14
155    39
156     7
157    17
158     9
Length: 159, dtype: int64

0      3
1      4
2      3
3      0
4      0
      ..
154    1
155    1
156    0
157    1
158    0
Length: 159, dtype: int64

In [12]:
data.corr()

          FI        MU        EN         S        EV
FI  1.000000  0.784238  0.881299  0.586712  0.576221
MU  0.784238  1.000000  0.900477  0.635214  0.539647
EN  0.881299  0.900477  1.000000  0.657209  0.546822
S   0.586712  0.635214  0.657209  1.000000  0.611262
EV  0.576221  0.539647  0.546822  0.611262  1.000000